.hero-image {
  width: 100%;
  height:  65; /*ull viewport height */
  background-size: cover; /* Cover the entire section */
  background-position: center; /* Center the image */
  display: flex; /* Use flexbox for centering content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  color: white; /* Change text color */
  text-align: center; /* Center text */
}
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #ff0000; /* Red background */
  color: white; /* White text */
  border: none;
  border-radius: 50%; /* Rounded corners */
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  line-height: 50px; /* Vertically center the text */
  cursor: pointer;
  z-index: 1000;
}

#scrollToTopBtn:hover {
  background-color: #cc0000; /* Darker red on hover */
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
}
.hero-banner {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}




footer {
  width: 100%;
  padding: 20px 0; /* Add padding for spacing */
  margin-top: 20px; /* Space above the footer */
}